@import "styles.scss";

#root {
  text-align: center;
  ::selection {
    background: rgba(255, 0, 68, 0.252);
  }
}

// TO REMOVE CUSTOM SCROLLBAR COMMENT THE FOLLOWING CODE

@supports selector(::-webkit-scrollbar) {
  html::-webkit-scrollbar {
    // TO DISABLE COMMENT THIS LINE
    background: transparent; 
    // TO DISABLE COMMENT THIS LINE
  }
  html::-webkit-scrollbar-thumb {
    background: linear-gradient(#535353, #1f1f1f, #686868);
    background-position: center;
    background-clip: border-box;
    background-size: 110vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  html::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1; 
  }
}

body{
  margin: 0;
  overflow-x: hidden;
  
}

html{
  background-image: url("./assets/nightBG.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: 100vmax;
  background-position:center top;
  /* margin: 0 52px; */
}
@media only screen and (max-width: 1500px) {
  html{
    background-size: 150vmax;
  }
}
@media only screen and (max-width: 500px) {
  html{
    background-size: 200vmax;
  }
}