@import "../../styles.scss";

.search-bar{
  display: flex;
  justify-content: center;
  gap: 10px;
  @extend %container-1180;
  
}

button{
  border: none;
  height: 60px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 32px;
  align-items: center;
  background-color: white;
  color: $wv-dark-gray;
  &:not([disabled]):active {
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.625);
  }
  &:not([disabled]):hover {
    opacity: 0.8;
  }
}

input{
  font-size: 32px;
  height: 58px;
  width: 100%;
  border: none;
  color: $wv-dark-gray;
  &:focus{
    outline: none;
  }
}

.dropdown{
  padding: 0 100px;
  border-radius: 100px 0 0 100px;
}

.search-input{
  display: flex;
  justify-content:space-around;
  background-color: white;
  align-items: center;
  // padding: 0 30px 0 0;
  border-radius: 0 100px 100px 0;
  width:100%;
  color: $wv-dark-gray;
}

.search-button{
  display: flex;
  justify-content: center;
  padding: 0 20px 0 10px;
  border-radius: 0 100px 100px 0;
  // &:not([disabled]):hover {
  //   box-shadow: inset 0px 0px 10px 1px rgba(110, 110, 110, 0.364);
  // }
}