.discounts{
  background: #DADBDC;
  margin: 0 0 57px;
  margin-left: -60px;
  width: 100vw;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 27px 0px 56px;
  align-items: center;
}

.discount-label{
  font-size: 64px;
  font-weight: 400;
  margin: 64px 0 0;
}