@import "../../styles.scss";

.discounts{
  background: #DADBDC;
  margin: 0 0 57px;
  // margin-left: -60px;
  width: 100%;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 16px 0px 37px;
  align-items: center;
  button{
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    &:not([disabled]):active {
      box-shadow: none;
    }
    &:not([disabled]):hover {
      opacity: 0.8;
    }
  }
  .gallery-cards{
    display: flex;
    justify-content: start;
    gap: 30px;
    width: 72%;
    max-width: 1220px;
    // overflow-y: hidden; //to scroll by mouse
    overflow: hidden;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

.discount-label{
  font-size: 32px;
  font-weight: 400;
  margin: 64px 0 0;
  color: $wv-dark-gray;
  padding: 15px 0;
}