@import "../../styles.scss";

.guarantees-inner{
  background-color: #DADBDC;
  color: #696969;
  margin: 50px 0;
  padding: 10px 0;
  margin-left: -60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1{
    font-size: 32px;
    font-weight: 400;
  }
  p{
    max-width: 1800px;
    text-indent: 30px;
    text-align: left;
    font-size: 24px;
    padding: 0 12%;
  }
}