.product-card{
  border-radius: 30px;
  opacity: 0px;
  background-color: white;
  padding: 38px 47px 17px;
  p{
    margin: 10px 0;
  }
}

.product-name{
  font-size: 26px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #696969;
}

.product-price{
  font-size: 28px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #696969;
}