.product-card{
  width: 250px;
  height: 295px;
  top: 481px;
  left: 157px;
  gap: 0px;
  border-radius: 30px;
  opacity: 0px;
  background-color: white;
  padding: 80px 63px;
}

.product-name{
  font-size: 36px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: black;
}