@import "../../styles.scss";

.review-card{
  width: 80%;
  background-image: url("../../assets/logo.png");
  background-repeat: no-repeat;
  background-position: 95%;
  background-color: $wv-white;
  @extend %container-1180;
  padding: 15px 35px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  p{
    margin: 0;
    font-size: 24px;
  }
  section{
    gap: 10px;
    display: flex;
    flex-direction: row;
  }
}

.review-info{
  margin-left: 4%;
  align-items: center;
  :nth-child(2){
    font-size: 15px;
  }
}

.review-pros{
  :nth-child(1){
    color: $wv-green;
  }
}

.review-cons{
  :nth-child(1){
    color: $wv-red;
  }
}

.review-gallery{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;
  @extend %container-1180;
  width: 80%;
  img{
    border-radius: 5px;
    max-height: 120px;
  }
  button{
    background-color: transparent;
    &:not([disabled]):active {
      box-shadow: none;
    }
    &:not([disabled]):hover {
      opacity: 0.8;
    }
  }
}

